# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test results
test-results/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env

# Build output
dist/
build/

# Temporary files
.tmp/
.temp/

# Editor settings
.vscode/
.idea/

# Jenkins worksp
